# want vi to be the default editor for readline                      
set editing-mode vi                                            
set show-mode-in-prompt on

# Different cursors in different modes
# Blinkinkg cursors in insert mode
set vi-ins-mode-string ""
# Steady underscore cursor in command mode
set vi-cmd-mode-string ""

# vi settings                                         
$if mode=vi                
    # normal mode                           
    set keymap vi-command                                 
    # insert mode             
    set keymap vi-insert                          
    "jj": vi-movement-mode # remap escape   
$endif 
